# The ID of your GitHub App
APP_ID=9468
WEBHOOK_SECRET=development

# Uncomment this to get verbose logging; use `info` to show less
# LOG_LEVEL=trace

# Go to https://smee.io/new set this to the URL that you are redirected to.
# WEBHOOK_PROXY_URL=https://smee.io/ts3RcNt81Io8dHcD
